
#roulette-betting-table {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: auto auto auto auto auto; 
    gap: 2px;
    background-color: #0c3b0c; 
    padding: 10px;
    max-width: 800px;
    margin: 20px auto;
    border: 5px solid #542d05;
    border-radius: 10px;
    color: white;
}

.bet-option {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a571a;
    border: 1px solid #ddd;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    user-select: none; 
    min-height: 40px;
}

.bet-option:hover {
    background-color: #2a8a2a;
    border-color: #fff;
}


.bet-option[data-bet-value="0"] {
    grid-column: 1 / span 12; 
}

#roulette-number-grid {
    grid-column: 1 / span 12; 
    grid-row: 2 / span 3;      
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
}

[data-bet-type="column"] {
    grid-row: 5; 
    grid-column: span 4; 
}


.bet-option.dozen {
    grid-column: span 4; 
}


.bet-option.half {
    grid-column: span 2; 
}





.red-bg { background-color: #d10000; }
.black-bg { background-color: #111; }
.green-bg { background-color: #0c6b0c; }


.number-box {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.number-box.red { background-color: #d10000; }
.number-box.black { background-color: #111; }
.number-box.green { background-color: #0c6b0c; } 

.number-box:hover {
    border: 2px solid yellow;
}


#roulette-controls {
    margin-top: 20px;
    text-align: center;
}
#roulette-result-number {
    font-size: 2em;
    font-weight: bold;
}


.bet-active {
    border: 3px solid yellow;
    box-shadow: 0 0 10px yellow;
}